<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo deploy latest changes
cd /home/vagrant/githubio/nigerobbins.github.io
git ls-tree --full-tree -r HEAD
git checkout index.html
cp &quot;/home/vagrant/.jenkins/jobs/catch web site changes/workspace/website/index.html&quot; .
git status
git commit -a -m &quot;auto deploy&quot;
git push origin master

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>